*

!README.md
!.gitignore

!kitty/
!kitty/**/*

!nvim/
!nvim/init.lua
!nvim/installPacks.sh
!nvim/installLSPs.sh
!nvim/lua/
!nvim/lua/**/*

!waybar/
!waybar/**/*

!wofi/
!wofi/**/*

!hypr/
!hypr/**/*

!neofetch/
!neofetch/**

!yazi/
!yazi/**

!ghostty/
!ghostty/**
