* {
	border: none;
	font-family: "Hack Nerd Font" ;
	font-size: 11px;
}

window#waybar {
	background: #1B1B29;
	opacity: 1.0;
}

#window {
	padding-left: 5px;
	padding-right: 5px;
	transition: none;
 	color: transparent;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(#89B4FA,.4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: #89B4FA;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: #89B4FA;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: #89B4FA;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: #89B4FA;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#pulseaudio {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#battery {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#battery.charging, #battery.plugged {
	color: #a6e3a1;
}

#battery.critical:not(.charging) {
	color: #f38ba8;
}

#backlight {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#clock {
	margin-left: 4px;
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#memory {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#custom-power {
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#cpu {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#tray {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

#custom-launcher {
	font-size: 20px;
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	margin-left: 8px;
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
    color: #89B4FA;
}

